<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-right">الأشخاص</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Add Person Section -->
  <div class="add-section">
    <h2>اضافة شخص</h2>
    <div class="input-row">
      <ion-icon name="person-circle"></ion-icon>
      <ion-input
        [(ngModel)]="personName"
        placeholder="الإسم"
        dir="rtl"
        (keyup.enter)="addPerson()"
      ></ion-input>
      <ion-icon 
        name="add-circle" 
        class="add-btn" 
        [class.active]="hasInput"
        (click)="addPerson()"
      ></ion-icon>
    </div>
  </div>

  <!-- Persons List -->
  <div class="list-section">
    <h2>قائمة الأشخاص</h2>
    
    <div class="person-item" *ngFor="let person of persons">
      <ion-icon name="person-circle" class="person-icon"></ion-icon>
      <span class="person-name">{{ person.firstName }} {{ person.lastName }}</span>
      <ion-icon 
        name="close-circle" 
        class="delete-btn"
        (click)="deletePerson(person.id)"
      ></ion-icon>
    </div>

    <div *ngIf="persons.length === 0" class="empty-state">
      <p>لا يوجد أشخاص مسجلين</p>
    </div>
  </div>
</ion-content>