ion-tab-bar {
  --background: #ffffff;
  border-top: 1px solid #e0e0e0;
}

ion-tab-button {
  --color: #999999;
  --color-selected: #3880ff;

  &[tab="mark-attendance"] {
    --color-selected: #4caf50;
  }
}